.previews-container {
  column-gap: 1.25em;
  display: grid;

  grid-template-columns: 1fr;
  justify-content: center;

  @media only screen and (min-width: 768px) {
    grid-template-columns: repeat(var(--columns), var(--width));
  }

  h2 {
    grid-column: 1/-1;
  }
}
